
server:
  # minimum log verbosity
  log_level: {{ grafana_agent_log_level | default('info') }}

metrics:
  # where to WAL state for resilience
  wal_directory: {{ grafana_agent_data_path }}/wal
  configs:
    - name: default
      # push scraped samples here
      remote_write:
        - url: {{ prometheus_remote_write_url }}
      # scrape your var/log files as Prometheus metrics
      scrape_configs:
{% for path in log_paths %}
        - job_name: log_{{ loop.index }}
          static_configs:
            - targets: ['localhost']
              labels:
                job: varlogs
                __path__: {{ path }}
{% endfor %}

logs:
  # keep track of where you left off
  positions_directory: {{ grafana_agent_data_path }}/positions
  configs:
    - name: default
      # push logs into Loki
      clients:
        - url: {{ loki_push_url }}
      target_config:
        sync_period: 10s
      scrape_configs:
{% for path in log_paths %}
        - job_name: log_{{ loop.index }}
          static_configs:
            - targets: ['localhost']
              labels:
                job: varlogs
                __path__: {{ path }}
{% endfor %}
