[Unit]
Description=Loki Log Aggregation
After=network.target

[Service]
ExecStart=/opt/loki/loki -config.file=/etc/loki/config.yml
Restart=on-failure
RestartSec=10
User=loki
Group=loki
MemoryMax=192M
MemoryHigh=160M
CPUQuota=50%

[Install]
WantedBy=multi-user.target
